In [36]:
df

,new_cell,crclscod,asl_flag,prizm_social_one,area,dualband,refurb_new,hnd_webcap,ownrent,dwlltype,...,HHstatin,dwllsize,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,Customer_ID
0,U,A,N,S,NORTHWEST/ROCKY MOUNTAIN AREA,Y,N,WCMB,O,S,...,C,A,N,U,U,U,U,U,Y,1000001
1,N,EA,N,U,CHICAGO AREA,N,N,WC,NaN,S,...,C,A,Z,U,U,U,U,U,Y,1000002
2,Y,C,N,S,GREAT LAKES AREA,N,N,NaN,O,S,...,C,A,N,U,Y,U,U,U,Y,1000003
3,Y,B,N,T,CHICAGO AREA,N,N,NaN,NaN,M,...,C,D,U,Y,U,U,U,U,Y,1000004
4,Y,A,N,U,NEW ENGLAND AREA,Y,N,WCMB,R,M,...,C,O,I,U,U,U,U,U,Y,1000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,U,B,N,U,LOS ANGELES AREA,N,N,WC,O,S,...,NaN,A,S,U,U,U,Y,U,Y,1099996
99996,U,CY,Y,S,LOS ANGELES AREA,N,N,WC,O,S,...,I,A,N,U,U,Y,Y,Y,Y,1099997
99997,U,DA,N,U,SOUTHWEST AREA,Y,N,WCMB,NaN,NaN,...,NaN,NaN,U,Y,Y,U,U,U,N,1099998
99998,U,EA,N,U,SOUTHWEST AREA,Y,N,WCMB,NaN,NaN,...,NaN,NaN,S,U,U,U,U,U,N,1099999
99999,U,B,N,S,LOS ANGELES AREA,Y,N,WCMB,NaN,S,...,NaN,A,H,U,U,U,U,U,N,1100000

In [70]:

df = pd.read_csv("week5_categoriconly.csv", nrows = 100000)
df.isnull().sum()

new_cell                0
crclscod                0
asl_flag                0
prizm_social_one     7388
area                   40
dualband                1
refurb_new              1
hnd_webcap          10189
ownrent             33706
dwlltype            31909
marital              1732
infobase            22079
HHstatin            37923
dwllsize            38308
ethnic               1732
kid0_2               1732
kid3_5               1732
kid6_10              1732
kid11_15             1732
kid16_17             1732
creditcd             1732
Customer_ID             0
dtype: int64

In [34]:
#1
for c in df.columns:
    df[c] = df[c].map( {'Y': 1, 'N': 0, 'U': 0 } )#herfleri 0 ve 1 lerle evez edir
df.fillna(0,inplace=True) #null\nan deyerleri 0 la evez edir 
print(df)

       new_cell  crclscod  asl_flag  prizm_social_one  area  dualband  \
0             0       0.0         0               0.0   0.0       1.0
1             0       0.0         0               0.0   0.0       0.0
2             1       0.0         0               0.0   0.0       0.0
3             1       0.0         0               0.0   0.0       0.0
4             1       0.0         0               0.0   0.0       1.0
...         ...       ...       ...               ...   ...       ...
99995         0       0.0         0               0.0   0.0       0.0
99996         0       0.0         1               0.0   0.0       0.0
99997         0       0.0         0               0.0   0.0       1.0
99998         0       0.0         0               0.0   0.0       1.0
99999         0       0.0         0               0.0   0.0       1.0

       refurb_new  hnd_webcap  ownrent  dwlltype  ...  HHstatin  dwllsize  \
0             0.0         0.0      0.0       0.0  ...       0.0       0.0
1             0.0         0.0      0.0       0.0  ...       0.0       0.0
2             0.0         0.0      0.0       0.0  ...       0.0       0.0
3             0.0         0.0      0.0       0.0  ...       0.0       0.0
4             0.0         0.0      0.0       0.0  ...       0.0       0.0
...           ...         ...      ...       ...  ...       ...       ...
99995         0.0         0.0      0.0       0.0  ...       0.0       0.0
99996         0.0         0.0      0.0       0.0  ...       0.0       0.0
99997         0.0         0.0      0.0       0.0  ...       0.0       0.0
99998         0.0         0.0      0.0       0.0  ...       0.0       0.0
99999         0.0         0.0      0.0       0.0  ...       0.0       0.0

       ethnic  kid0_2  kid3_5  kid6_10  kid11_15  kid16_17  creditcd  \
0         0.0     0.0     0.0      0.0       0.0       0.0       1.0
1         0.0     0.0     0.0      0.0       0.0       0.0       1.0
2         0.0     0.0     1.0      0.0       0.0       0.0       1.0
3         0.0     1.0     0.0      0.0       0.0       0.0       1.0
4         0.0     0.0     0.0      0.0       0.0       0.0       1.0
...       ...     ...     ...      ...       ...       ...       ...
99995     0.0     0.0     0.0      0.0       1.0       0.0       1.0
99996     0.0     0.0     0.0      1.0       1.0       1.0       1.0
99997     0.0     1.0     1.0      0.0       0.0       0.0       0.0
99998     0.0     0.0     0.0      0.0       0.0       0.0       0.0
99999     0.0     0.0     0.0      0.0       0.0       0.0       0.0

       Customer_ID
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
99995          0.0
99996          0.0
99997          0.0
99998          0.0
99999          0.0

[100000 rows x 22 columns]

In [58]:
#2
list1=[]
list2=[]
for c in df.columns:
    if df[c].isnull().any():#null deyeri olan columlar
        list1.append(c)
    if df[c].notnull().any():#null deyeri olmyan columlar
        list2.append(c)
print('dfa:',list1,'dfB:',list2)

dfa: ['prizm_social_one', 'area', 'dualband', 'refurb_new', 'hnd_webcap', 'ownrent', 'dwlltype', 'marital', 'infobase', 'HHstatin', 'dwllsize', 'ethnic', 'kid0_2', 'kid3_5', 'kid6_10', 'kid11_15', 'kid16_17', 'creditcd'] dfB: ['new_cell', 'crclscod', 'asl_flag', 'prizm_social_one', 'area', 'dualband', 'refurb_new', 'hnd_webcap', 'ownrent', 'dwlltype', 'marital', 'infobase', 'HHstatin', 'dwllsize', 'ethnic', 'kid0_2', 'kid3_5', 'kid6_10', 'kid11_15', 'kid16_17', 'creditcd', 'Customer_ID']

In [4]:
#3
for c in df.columns:
    df[c] = df[c].fillna( df[c].mode()[0] )
    #print(df[c].isnull().sum())
print(df.isna().sum())

new_cell            0
crclscod            0
asl_flag            0
prizm_social_one    0
area                0
dualband            0
refurb_new          0
hnd_webcap          0
ownrent             0
dwlltype            0
marital             0
infobase            0
HHstatin            0
dwllsize            0
ethnic              0
kid0_2              0
kid3_5              0
kid6_10             0
kid11_15            0
kid16_17            0
creditcd            0
Customer_ID         0
dtype: int64

In [5]:
df[ df['ownrent'].isnull() ]

Empty DataFrame
Columns: [new_cell, crclscod, asl_flag, prizm_social_one, area, dualband, refurb_new, hnd_webcap, ownrent, dwlltype, marital, infobase, HHstatin, dwllsize, ethnic, kid0_2, kid3_5, kid6_10, kid11_15, kid16_17, creditcd, Customer_ID]
Index: []

[0 rows x 22 columns]